
<div>
    <div class="mx-auto" style="width: 300px;">
        <h3 style="font-family:Trebuchet MS">showing articles detail</h3>  
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;">
            <%= image_tag ("book.jpeg") %>
            <div class="card-body">
                <div class="container">
                <h5 class="card-title"><%= @article.title %> </h5>
                <p><%= @article.description %></p>
                <div>
            </div>
            <div class="crad-footer text-muted">
                <small> Added at <%= time_ago_in_words(@article.created_at)%></small>
            </div>
        </div>
    </div>

    <div class="container">
        <ul>
            <li> <%=link_to'update', edit_article_path(@article), class:'btn btn-warning' %></li>
                <li><%=button_to'Delete', article_path(@article), method: :delete, class:'btn btn-warning'%></li>
                <li><%=link_to 'Go Back', articles_path,class:'btn btn-warning' %></li>
        </ul>
    </div>
</div>


