
<div>
    <div class="mx-auto" style="width: 300px;">
        <h3 style="font-family:Trebuchet MS">showing articles detail</h3>  
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;">
            <%= image_tag ("book.jpeg") %>
            <div class="card-body">
                <div class="container">
                <small>
                Article by <%= @article.user.username%>
                </small>
                <h5 class="card-title"><%= @article.title %> </h5>
                <p><%= @article.description %></p>
                <div>
            </div>
            <div class="crad-footer text-muted">
                <small> Added at <%= time_ago_in_words(@article.created_at)%></small>
            </div>
        </div>
    </div>

<% if( logged_in? && (current_user.username ==@article.user.username || current_user.admin?)) %>

    <div class=" row text-center mt-2">
        <%=link_to'update', edit_article_path(@article), class:'btn btn-warning mt-2' %>
        
        <%=button_to'Delete', article_path(@article), method: :delete, class:'btn btn-warning mt-2'%>
    </div>
<%end%>
    <%=link_to 'Go Back', articles_path,class:'btn btn-warning mt-2' %>
</div>


