

<div class="container">
        <div class="row">

            <div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Sign Up to MotorradX</h5>
                        <p class="card-text">Sign Up and Explore Articles</p>
                        <%# <a href="#" class="btn btn-primary" <%= link_to 'About ', about_path %> 
                        <%= link_to 'Sign Up ', signup_path, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Log in to MotorradX</h5>
                        <p class="card-text">Log in and Explore Articles</p>
                        <%# <a href="#" class="btn btn-primary" <%= link_to 'About ', about_path %> 
                        <%= link_to 'Log in ', login_path, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">MotorradX Articles</h5>
                        <p class="card-text">Read out the latest articles in MotorradX</p>
                        
                        <%= link_to 'Articles', articles_path, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">About MotorradX</h5>
                            <p class="card-text">Learn more about us!</p>
                            <%# <a href="#" class="btn btn-primary" <%= link_to 'About ', about_path %> 
                            <%= link_to 'About ', about_path, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    
